In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('House_price.csv')

In [3]:
data

               town    area     price     sex
0   monroe township  2600.0  550000.0    male
1               NaN  3000.0  565000.0  female
2   monroe township  3200.0  610000.0  female
3   monroe township  3600.0  680000.0    male
4               NaN     NaN  725000.0  female
5      west windsor  2600.0  585000.0    male
6      west windsor  2800.0       NaN    male
7      west windsor  3300.0  650000.0    male
8      west windsor  3600.0  710000.0  female
9      robbinsville  2600.0  575000.0    male
10     robbinsville     NaN  600000.0  female
11     robbinsville  3100.0  620000.0  female
12     robbinsville  3600.0  695000.0    male

In [4]:
data.isnull().sum()

town     2
area     2
price    1
sex      0
dtype: int64

In [5]:
data["town"]=data.town.fillna("monroe township", axis = 0)

In [6]:
data

               town    area     price     sex
0   monroe township  2600.0  550000.0    male
1   monroe township  3000.0  565000.0  female
2   monroe township  3200.0  610000.0  female
3   monroe township  3600.0  680000.0    male
4   monroe township     NaN  725000.0  female
5      west windsor  2600.0  585000.0    male
6      west windsor  2800.0       NaN    male
7      west windsor  3300.0  650000.0    male
8      west windsor  3600.0  710000.0  female
9      robbinsville  2600.0  575000.0    male
10     robbinsville     NaN  600000.0  female
11     robbinsville  3100.0  620000.0  female
12     robbinsville  3600.0  695000.0    male

In [7]:
X = data.iloc[:, :-1].values

In [8]:
y = data.iloc[:, -1].values

In [9]:
y

array(['male', 'female', 'female', 'male', 'female', 'male', 'male',
       'male', 'female', 'male', 'female', 'female', 'male'], dtype=object)

In [11]:
from sklearn.preprocessing import Imputer

In [13]:
impute = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
impute = impute.fit(X[:,1:3])

In [15]:
X[:,1:3] = impute.transform(X[:,1:3])

In [16]:
X

array([['monroe township', 2600.0, 550000.0],
       ['monroe township', 3000.0, 565000.0],
       ['monroe township', 3200.0, 610000.0],
       ['monroe township', 3600.0, 680000.0],
       ['monroe township', 3090.909090909091, 725000.0],
       ['west windsor', 2600.0, 585000.0],
       ['west windsor', 2800.0, 630416.6666666666],
       ['west windsor', 3300.0, 650000.0],
       ['west windsor', 3600.0, 710000.0],
       ['robbinsville', 2600.0, 575000.0],
       ['robbinsville', 3090.909090909091, 600000.0],
       ['robbinsville', 3100.0, 620000.0],
       ['robbinsville', 3600.0, 695000.0]], dtype=object)

In [17]:
# Encoding the Independent Variable
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])

In [18]:
onehotencoder = OneHotEncoder(categorical_features = [0])
X = onehotencoder.fit_transform(X).toarray()
X

array([[1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.60000000e+03,
        5.50000000e+05],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.00000000e+03,
        5.65000000e+05],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.20000000e+03,
        6.10000000e+05],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.60000000e+03,
        6.80000000e+05],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.09090909e+03,
        7.25000000e+05],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 2.60000000e+03,
        5.85000000e+05],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 2.80000000e+03,
        6.30416667e+05],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.30000000e+03,
        6.50000000e+05],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.60000000e+03,
        7.10000000e+05],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 2.60000000e+03,
        5.75000000e+05],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 3.09090909e+03,
        6.00000000e+05],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 3.10000000e+03,
        6.20000000e+05],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 3.60000000e+03,
        6.95000000e+05]])

In [19]:
# I had to drop one column so as to avoid dummy variable trap.
X = X[:, 1:]
X

array([[0.00000000e+00, 0.00000000e+00, 2.60000000e+03, 5.50000000e+05],
       [0.00000000e+00, 0.00000000e+00, 3.00000000e+03, 5.65000000e+05],
       [0.00000000e+00, 0.00000000e+00, 3.20000000e+03, 6.10000000e+05],
       [0.00000000e+00, 0.00000000e+00, 3.60000000e+03, 6.80000000e+05],
       [0.00000000e+00, 0.00000000e+00, 3.09090909e+03, 7.25000000e+05],
       [0.00000000e+00, 1.00000000e+00, 2.60000000e+03, 5.85000000e+05],
       [0.00000000e+00, 1.00000000e+00, 2.80000000e+03, 6.30416667e+05],
       [0.00000000e+00, 1.00000000e+00, 3.30000000e+03, 6.50000000e+05],
       [0.00000000e+00, 1.00000000e+00, 3.60000000e+03, 7.10000000e+05],
       [1.00000000e+00, 0.00000000e+00, 2.60000000e+03, 5.75000000e+05],
       [1.00000000e+00, 0.00000000e+00, 3.09090909e+03, 6.00000000e+05],
       [1.00000000e+00, 0.00000000e+00, 3.10000000e+03, 6.20000000e+05],
       [1.00000000e+00, 0.00000000e+00, 3.60000000e+03, 6.95000000e+05]])

In [20]:
# Encoding the Dependent Variable
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

In [21]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [22]:
from sklearn.linear_model import LogisticRegression
ln = LogisticRegression()

In [23]:
model = ln.fit(X_train, y_train)

In [40]:
y_pred = model.predict(X_test)

In [41]:
y_pred

array([1, 1, 1, 1], dtype=int64)

In [42]:
from sklearn.metrics import classification_report,confusion_matrix, accuracy_score

In [43]:
print(confusion_matrix(y_test,y_pred))

[[0 3]
 [0 1]]

In [44]:
print(classification_report(y_test,y_pred))

             precision    recall  f1-score   support

          0       0.00      0.00      0.00         3
          1       0.25      1.00      0.40         1

avg / total       0.06      0.25      0.10         4

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [45]:
print (accuracy_score(y_test, y_pred))

0.25